<h2 class="mx-5 my-2">Formulario de Inicio de sesi칩n</h2>
<div class="mx-5 my-2">
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
    <form action="/api/auth/signin" method="post">
        <label>Correo:</label>
        <input type="text" name="email" placeholder="Ingresa tu correo">
        <label>Contrase침a:</label>
        <input type="text" name="password" placeholder="Ingresa tu contrase침a">
        <button>Iniciar sesi칩n</button>
    </form>
    <hr>
    <a href="/api/auth/signup">no tiene cuenta?, registrese</a>
</div>